.error-font-black{
    color:#1A1A1A;
    font-family: Exo, sans-serif;
    font-size: 274px;
    font-weight: 900;
}
.error-font-blue{
    color: #0E5AF2;
    font-family: Exo, sans-serif;
    font-size: 274px;
    font-weight: 900;
}
