@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&family=Fira+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

:root {
  font-family:  'Fira Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Exo', sans-serif;
  color: #1A1A1A;
  line-height: 1.7;
  font-weight: 700;

}
 /* font sizes */
 h1{
  font-size: 60px;
}
h2{
  font-size: 48px;
}
h3{
  font-size: 36px;
}
h4{
  font-size: 30px;
}
h5{
  font-size: 24px;
}
h6{
  font-size: 20px;
}

p, span{
  line-height: 1.7;
  font-weight: 500;
  font-size: 16px;

}


.my-primary-color{
  color: #0E5AF2;
}
.my-bg-color{
  background: #0E5AF2;
}
.my-title-color{
  color: #1A1A1A;
}
.my-text-color{
  color: #878D97;
}
.my-color{
  color: #EFF1F5;
}
.small-title{
  font-size: 16px;
  font-family: 'Exo', sans-serif;
  font-weight: 600;
}

/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */


button {
  border-radius: 8px;
  text-transform: uppercase;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #0E5AF2;
  border: none;
  cursor: pointer;
  transition: 0.25s;
  letter-spacing: 2px;
}
/* 
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
